.labelEvent,
.inputEvent {
  font-family: 'Bebas Neue', sans-serif;
}

.labelEvent {
  color: #000000;
  width: 100%;
  display: block;
  margin-bottom: 10px;
  font-size: 25px;
  text-align: left;

}

.inputEvent {
  width: 100%;
  background-color: #fff;
  color: #000000;
  border: 1px solid #000000;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  font-size: 25px;
}

.inputEvent::placeholder {
  color: #999;
  opacity: 1;
}

.label-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.label-container>div:first-child {
  flex: 1;
  max-width: 49%;
  padding-right: 1%;

}

.label-container>div:last-child {
  flex: 1;
  max-width: 49%;
  padding-left: 1%;
}

.input-container {
  width: 60%;
  float: left;

}

.map-container {
  width: 60%;
  float: right;
  padding-left: 30px;
}

.eventForm::after {
  content: "";
  display: table;
  clear: both;
}