.title {
  padding-top: 40px;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 80px;
  color: #f28d46;
  ;
}

#boxes .container {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 10%;
}

.box {
  max-width: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
  overflow: hidden;
}

.box img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  margin: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.box h3 {
  font-size: 40px;
  padding: 10px;
  flex: 1 1 auto;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  padding-top: 10px;
  margin: 0;
  border-left: 3px solid;
  border-right: 3px solid;
  overflow: hidden;
}

.btnBuy {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;
  text-align: center;
  background: #f28d46;
  display: block;
  padding: 10px;
  width: auto;
  color: #ffffff;
  transition: 0.3s;
  cursor: pointer;
  border: 3px solid;
  border-color: black;
  border-radius: 0 0 10px 10px;
  border-top: 0;
}

.btnBuy:hover {
  color: white;
  background-color: #B1CD4A;
}