.footerClass {
  font-family: "proxima-soft", "Proxima Soft", "Proxima Nova Soft", Helvetica,
    Arial, sans-serif;
  background: #B1CD4A;
  color: #fff;
  width: 100%;
  padding: 1em;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.logo {
  margin-left: 1em;
}

.footerText {
  margin-right: 1em;
}

.footerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}