.footerClass2 {
    font-family: "proxima-soft", "Proxima Soft", "Proxima Nova Soft", Helvetica,
      Arial, sans-serif;
    background: #28307f;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 1em;
    align-self: flex-end;
    text-align: right;
    bottom: 0;
    position: fixed;
  }
  
  .logo {
    display: inline-block;
  }
  
  .footerText {
    position: relative;
    bottom: 0.4em;
    right: 1em;
  }
  