.divSearchBar {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.searchBar {
  background-color: #B1CD4A;
  width: 50%;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "proxima-soft", "Proxima Soft", "Proxima Nova Soft", Helvetica,
    Arial, sans-serif;
}

input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: #fff;
  opacity: 0.7;
}

.searchButton {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

.searchSvg {
  color: #fff;
  fill: currentColor;
  width: 48px;
  height: 48px;
  padding: 10px;
}