.btnMain {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    text-align: center;
    background: #f28d46;
    padding: 10px 15px;
    width: auto;
    color: #ffffff;
    transition: 0.3s;
    cursor: pointer;
    width: auto;
    border: 0;
    max-width: 100%;
    border-radius: 20px;
    display: inline-block;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btnMain:hover {
    letter-spacing: 2px;
    color: white;
    background-color: #B1CD4A;
}

.btnMain:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.btnMain::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.btnMain:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

@media (max-width: 768px),
(max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .btnMain {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 80px;
        text-align: center;
        background: #f28d46;
        padding: 10px 15px;
        width: auto;
        color: #ffffff;
        transition: 0.3s;
        cursor: pointer;
        width: auto;
        border: 0;
        max-width: 100%;
        border-radius: 20px;
        display: inline-block;
    }

    .btnMain:hover {
        color: white;
        background-color: #B1CD4A;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}