.box-1 {
  display: flex;
  outline: 2px;
  margin-left: auto;
  margin-right: 0;
  padding-left: 1em;
}

.btnLogout {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;
  text-align: center;
  background: #f90000;
  padding: 10px 15px;
  width: 100%;
  color: #ffffff;
  transition: 0.3s;
  cursor: pointer;
  width: auto;
  border: 0;
  max-width: 100%;
  border-radius: 20px;
  display: inline-block;
}

.btnLogout span {
  position: relative;
  z-index: 3;
  transition: all 0.3s;
}

.btnLogout::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(158, 12, 12, 1);
  transform: scale(0.1, 1);
  border-radius: 5px;
}

.btnLogout:hover span {
  letter-spacing: 2px;
}

.btnLogout:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btnLogout::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  z-index: 2;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  background: linear-gradient(rgba(241, 28, 28, .5), rgba(241, 28, 28, .5), rgba(241, 28, 28, .5));
}

.btnLogout:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}


.btnHeader {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;
  text-align: center;
  background: #f28d46;
  padding: 10px 15px;
  width: auto;
  color: #ffffff;
  transition: 0.3s;
  cursor: pointer;
  width: auto;
  border: 0;
  max-width: 100%;
  border-radius: 20px;
  display: inline-block;
}

.btnHeader span {
  transition: all 0.3s;
}

.btnHeader::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  z-index: 1;
  opacity: 0.5;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  border-right-color: rgba(255, 255, 255, 0.5);
  border-left-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
  border-radius: 5px;
}

.btnHeader:hover {
  letter-spacing: 2px;
  color: white;
  background-color: #6ba529;
}

.btnHeader:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btnHeader::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.btnHeader:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}