.title {
  padding-top: 40px;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 150px;
  color: #f28d46;
  ;
}

#boxes .eventBoxContainer {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 10%;
}

.box {
  max-width: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
  overflow: hidden;
}

.box img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  margin: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.box h3 {
  font-size: 40px;
  padding: 10px;
  flex: 1 1 auto;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  padding-top: 10px;
  margin: 0;
  border-left: 3px solid;
  border-right: 3px solid;
  overflow: hidden;
}

.btnBuy {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;
  text-align: center;
  background: #f28d46;
  display: block;
  padding: 10px;
  width: auto;
  color: #ffffff;
  transition: 0.3s;
  cursor: pointer;
  border: 3px solid;
  border-color: black;
  border-radius: 0 0 10px 10px;
  border-top: 0;
}

.btnBuy:hover {
  letter-spacing: 2px;
  color: white;
  background-color: #B1CD4A;
}

@media (max-width: 768px),
(max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {

  .title {
    padding-top: 40px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 118px;
    color: #f28d46;
    ;
  }

  #boxes .container {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .box {
    width: 85%;
    max-width: none;
    margin: 10px 0;
    border-radius: 30px;
  }

  .box img {
    width: 100%;
    height: 800px;
    object-fit: cover;
    display: block;
    margin: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  .box h3 {
    font-size: 60px;
    padding: 10px;
    flex: 1 1 auto;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    padding-top: 10px;
    margin: 0;
    border-left: 3px solid;
    border-right: 3px solid;
    overflow: hidden;
  }

  .btnBuy {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    text-align: center;
    background: #f28d46;
    display: block;
    padding: 10px;
    width: auto;
    color: #ffffff;
    transition: 0.3s;
    cursor: pointer;
    border: 3px solid;
    border-color: black;
    border-radius: 0 0 30px 30px;
    border-top: 0;
  }
}