.custom-modal {
    font-family: 'Bebas Neue', sans-serif;
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    max-width: 50%;
    max-height: 100%;
    margin: 5% auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

}

.custom-modal form {
    display: grid;
    gap: 30px;
}

.custom-modal input {
    width: 100%;
    padding: 3px;
    font-size: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.custom-modal input:focus {
    border-color: #8fac24;
    outline: none;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.btn-Modal-Buy,
.btn-Modal-Back {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    text-align: center;
    background: #f28d46;
    padding: 10px 15px;
    width: auto;
    color: #ffffff;
    transition: 0.3s;
    cursor: pointer;
    width: auto;
    border: 0;
    max-width: 100%;
    border-radius: 10px;
    display: inline-block;
}

.btn-Modal-Buy {
    background: #8fac24;
}

.btn-Modal-Buy:hover {
    letter-spacing: 2px;
    color: white;
    background-color: #B1CD4A;
}

.btn-Modal-Back {
    background: #ee593c;
}

.btn-Modal-Back:hover {
    letter-spacing: 2px;
    color: white;
    background-color: #f07b54;
}


@media (max-width: 768px),
(max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .custom-modal {
        font-family: 'Bebas Neue', sans-serif;
        position: relative;
        background-color: #ffffff;
        border-radius: 30px;
        padding: 20px;
        max-width: 90%;
        max-height: 100%;
        margin: 5% auto;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
        top: 50%;
        left: 45%;
        right: auto;
        bottom: auto;
        transform: translate(-50%, -50%);
    }

    .custom-modal form {
        display: grid;
        gap: 30px;
    }

    .custom-modal input {
        width: 100%;
        padding: 3px;
        font-size: 80px;
        border-radius: 10px;
        border: 1px solid #ccc;
    }

    .custom-modal input:focus {
        border-color: #8fac24;
        outline: none;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        gap: 10%;
    }

    .btn-Modal-Buy,
    .btn-Modal-Back {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 55px;
        text-align: center;
        background: #f28d46;
        padding: 10px 15px;
        width: auto;
        color: #ffffff;
        transition: 0.3s;
        cursor: pointer;
        width: auto;
        border: 0;
        max-width: 100%;
        border-radius: 10px;
        display: inline-block;
    }

    .btn-Modal-Buy {
        background: #8fac24;
    }

    .btn-Modal-Buy:hover {
        color: white;
        background-color: #B1CD4A;
    }

    .btn-Modal-Back {
        background: #ee593c;
    }

    .btn-Modal-Back:hover {
        color: white;
        background-color: #f07b54;
    }
}