.ticket-text {
    font-size: 25px;
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
}

.ticket-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.ticket-containerRRPP {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.ticket-column {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-Remove,
.btn-Add {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    width: 100px;
    height: 40px;
    line-height: 20px;
    color: #fdfdfd;
    transition: 0.3s;
    cursor: pointer;
    border: 0;
    margin: 0 10%;
    max-width: 100%;
    border-radius: 10px;
}

.btn-Remove {
    background: #ee593c;
}

.btn-Remove:hover {
    color: white;
    background-color: #f07b54;
}

.btn-Add {
    background: #8fac24;
}

.btn-Add:hover {
    color: white;
    background-color: #B1CD4A;
}

@media (max-width: 768px),
(max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {

    .ticket-text {
        font-size: 65px;
        margin: 0;
        font-family: 'Bebas Neue', sans-serif;
    }

    .ticket-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border: 1px solid #ccc;
        margin-bottom: 1rem;
        width: 100%;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
    }

    .ticket-containerRRPP {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border: 1px solid #ccc;
        margin-bottom: 1rem;
        width: 100%;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
    }

    .ticket-column {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }

    .quantity-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-Remove,
    .btn-Add {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        width: 100px;
        height: 70px;
        line-height: 25px;
        color: #fdfdfd;
        transition: 0.3s;
        cursor: pointer;
        border: 0;
        margin: 0 3%;
        max-width: 100%;
        border-radius: 10px;
    }

    .btn-Remove {
        background: #ee593c;
    }

    .btn-Remove:hover {
        color: white;
        background-color: #f07b54;
    }

    .btn-Add {
        background: #8fac24;
    }

    .btn-Add:hover {
        color: white;
        background-color: #B1CD4A;
    }

}